* {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
}

body {
    background-color: lightgray;
    font-family: "Courier New", "Monaco", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.main {
    gap: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hero {
    box-sizing: border-box;
    padding: 15px 30px;
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 10px;
    background-color: white;
}

.main,
.hero {
    grid-column: 2 / 3;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: skyblue;
    padding: 10px;
}

.hero .bottom, 
.hero .top {
    display: grid;
    padding: 10px;
}

.hero .top {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.hero .top .left,
.hero .top .right {
    display: grid;
    align-items: center;
}

.hero .top .right {
    grid-auto-flow: column;
    justify-content: flex-end;
    gap: 30px;
}

.hero .top .left {
    grid-template-columns: 1fr 6fr;
}

.hero .top .left .logo {
    justify-self: center;
}

.hero .bottom {
    grid-template-columns: 1fr 1fr;
}

.hero .bottom .left {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.hero .bottom .left :last-child {
    grid-column: 2 / -1;
}

.hero .bottom .left .logo {
    grid-row: 1 / 3;
}

.hero .bottom .right {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    justify-content: flex-end;
    gap: 20px;
}

.trending,
.announcements {
    grid-column: 2 / 3;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects > .heading {
    grid-column: 1 / -1;
}

.projects .card {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}                    

.projects .card :last-child {
    justify-self: flex-end;
}

.trending .card-wrapper,
.announcements .card-wrapper {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.announcements .card {
    border-bottom: 1px solid;
    padding: 10px;
}

.announcements .card-wrapper :last-child {
    border: none;
}

.logo-text {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trending .card {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.trending .card .logo {
    grid-row: 1 / 3;
}


.trending > .card-wrapper > .card :first-child, 
.hero > .top > .right :nth-child(2) {
    width: 35px;
    height: auto;
}

.hero > .bottom > .left :first-child {
    width: 50px;
    height: auto;
}

.projects > .card > .logos > img {
    width: 20px;
    height: auto;
}

.trending .card,
.announcements .card {
    background-color: white;
}

.trending > .text,
.announcements > .text {
    margin-left: 20px;
}

.logo-text .text {
    margin-left: 10px;
    align-self: center;
}

button {
    background-color: skyblue;
    border-radius: 10px;
    width: 100px;
    padding: 5px 0;
    border: none;
}

.hero .bottom .left :last-child,
.announcements > .text,
.trending > .text,
.heading {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 15px;
}

.hero .top .right :last-child {
    font-weight: bold;
}

.announcements > .text,
.trending > .text,
.projects > .heading {
    font-size: x-large;
}